article {
	background-color:#898989;
	margin: 5px, 50px;
	padding: 5px, 20px;
	
}

p {
	margin: 16px 0;
	
}

figure{
	border: 1pt solid #262626;
	background-color: #C1C1C1;
	padding: 5px;
	width: 150px;
	float: left; /* see comment below: fixed by overflow: auto; */
	margin: 10px;
	overflow: auto;
	position: relative;
}

.first {
	clear: left;
	
}
/* creates error if figure is NOT floated left
figure img {
	float: left;
	
}

figure figcaption {
	float: left;
	
}*/

.overlayed {
	position: absolute;
	top: 10px;
	left: 10px;
	
	
}

.hide {
	display:none;
	
}

div {
	position:relative;
	
}
/*div img:first-child {
	visibility:hidden;
	
}*/

div.thumbnail:hover span.popup {
	visibility:visible;
	top:0px;
	left: 100px;
	position:absolute;
	
}

span {
	position: relative;
	
}
span.popup {
	padding:10px;
	
	position:absolute;
	-webkit-box-shadow: 0 0 15px #A9A9A9;
	-moz-box-shadow: 0 0 15px #A9A9A9;
	box-shadow: 0 0 15px #A9A9A9;
	
	visibility:hidden;
	
}

div.wrapper1 {

	margin-left:auto;
	margin-right:auto;
	
}
@media only screen and (max-width:480px){
	.wrapper1{width:400px;
	background-color:tan;
	}
	/*#slider-image{max-width:100%;}
	#flash-ad{display:none;}*/
	
}
@media only screen and (min-width:481px){
	.wrapper1{width:960px;
	background-color:blue;
	}
	/*#slider-image{max-width:100%;}
	#flash-ad{display:none;}*/
	
}