<!-- fonts from google-->>
h1 {
 font-family: 'Allerta', Helvetica, Arial, sans-serif;
 font-size: 50px;
 line-height: 55px;
}
 
p {
 font-family: 'Crimson Text', Georgia, Times, serif;
 font-size: 16px;
 line-height: 25px;
}
ul li{
   list-style-type:square;
  } 
h3{
    color:Teal;
	font-family: 'Allerta', Helvetica, Arial, sans-serif;
   }
a:link{
         color:hotpink;
       }
a:visited{
           color:orange;
		 }