<style>
    h1 			{color:blue;}
    h3 			{color:white;}
    h4 			{color:yellow;}
    p  			{color:white;}
    li 			{color:white;}
    td 			{color:white;}
    acronym 	{color:green;}
    abbr 		{color:green;}
	a 			{color:red;}
	.school 	{color:orange;}
	#email		{color:purple; font-size:160%;}
	head		{background-color:black;}
	body		{background-color:black;}
</style>
