table{
	/*border:solid 1pt black;*/
	border-collapse: collapse;
	border-top: 4px solid #dca806;
	border-bottom: 1px solid #ffffff;
	font-size: .8em;
	font-family: ariel, helvetica, sans-serif;
	text-aliggn: left;
	
	}
td	{
	padding: 10pt;
	}