  h1 {color: #FFCCFF;}
  h3 {color: #00FFFF;}
  .job {color: #CCFFFF;}
  #nameonresume {color: #2ECCFA} 
  p {color: white;}
  ul {color: white;}
  a {color: #01DFA5;}
  a:hover {color: #FFFFCC;}
  a:visited {color: #CCCCFF;}
  .copy {color: #FFCCE5;}
  abbr:hover {color: #A0A0A0;}
/*comments*/