/* ------------------------------------------------------------------------
filename  : Course_Planner.css
author    : Alexander King
date      : 2016-05-26
email     : aiking@svsu.edu
course    : CIS-255
link      : csis.svsu.edu/~gpcorser/cis255/aiking/Course_Planner/Course_Planner.css
backup    : github.com/cis255/cis255
purpose   : Contains all the CSS data for Course_Planner.html

copyright : GNU General Public License (http://www.gnu.org/licenses/)
			This program is free software: you can redistribute it and/or modify
			it under the terms of the GNU General Public License as published by
			the Free Software Foundation, either version 3 of the License, or
			(at your option) any later version.
			This program is distributed in the hope that it will be useful,
			but WITHOUT ANY WARRANTY; without even the implied warranty of
			MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.   
external code used in this file: 
			None.
------------------------------------------------------------------------- */

<style>
	head	{background-image: url("img/headfoot.png");}
	body	{background-color: red;}
	.header	{background-image: url("img/headfoot.png");
			 padding: 30px;
			 text-align: center;
			 color: black;
			 font-size: 20px;
			 }
	.content{background-image: url("img/background.png");
			 padding-top: 30px;
			 padding-bottom: 10px;
			 text-align: center;
			 border-radius: 25px;
			 overflow: auto;
			}
	.footer	{background-image: url("img/headfoot.png");
			 padding: 10px;
			 text-align: center;
			 color: black;
			}
	#wrapper	{}
	#divHeader	{text-align: center;
				 color: black;
				 font-size: 20px;
				 text-decoration: underline;
				 padding: 5px;
				}
	.taken		{overflow: scroll;
				 height: 200px;
				 width: 425px;
				}
	.takenList		{border: 2px solid white;
					 background: transparent;
					 padding: 10px;
					 float: left;
					 overflow: auto;
					 height: 265px;
					 width: 450px;
					}
	.canTakeList	{border: 2px solid white;
					 background: transparent;
					 padding: 10px;
					 float: left;
					 overflow: auto;
					 height: 265px;
					 width: 450px;}
	.requiredList	{border: 2px solid white;
					 background: transparent;
					 padding: 10px;
					 float: right;
					 overflow: auto;
					 height: 265px;
					 width: 450px;}
	.cantTakeList	{border: 2px solid white;
					 background: transparent;
					 padding: 10px;
					 float: right;
					 overflow: auto;
					 height: 265px;
					 width: 450px;}
</style>
