.jumbotron {
	background-size: cover;
	background-image: url(https://s-media-cache-ak0.pinimg.com/736x/47/29/7d/47297dd8bb980625a085029a135ad37d.jpg);
	background-position: 5% 30%;
	color: white;
}