@media only screen and (max-width:480px){
	.wrapper1 { 
		width: 400px; 
		background-color: tan;
	}	
}
@media only screen and (min-width:481px){
	.wrapper1 { 
		width: 960px; 
		background-color: blue;
	}
}
div.wrapper1 {
	margin-left: auto;
	margin-right: auto;
	
}

article {
	background-color: yellow;
	margin: 5px, 50px;
	padding: 5px, 20px;
}
p {
	margin: 16px 0;
}
figure {
	border: 1pt solid #262626;
	background-color: #C1C1C1;
	padding: 5px;
	width: 15%;
	float: left;
	margin: 10px;
	overflow: auto;
	position: relative;
}
.first{
	clear: left;
}
.overlayed{
	position: absolute;
	top: 10px;
	left: 10px;
}
.hide{
	display: none;
}
.floatleft{
	float:left;
}
div {
	position: relative;
}

span.popup{
	padding: 10px;
	background: #elelel;
	position: absolute;
	visibility: hidden;
	-webkit-box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.8);
	box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.8);
}
div.thumbnail:hover span.popup{
	position: absolute;
	top: 0;
	left: 10px;
	visibility: visible;
}



/* creates error 
img {
	float: left;
}
figcaption{
	float: left;
}
*/